# Mount EFS

- name: Install required system packages
  apt: 
    name: "{{ item }}" 
    state: present 
    update_cache: yes
    cache_valid_time: 3600 # 1 hour
  loop:
    - 'nfs-kernel-server'
    - 'git'
    - 'binutils'

- name: Check if amazon-efs-utils is present
  stat:
    path: /home/ubuntu/efs-utils
  register: check_efs_utils

- name: Cloning amazon-efs-utils from GitHub
  ansible.builtin.git:
    repo: 'https://github.com/aws/efs-utils'
    dest: /home/ubuntu/efs-utils
    update: false
  become: yes
  when: not check_efs_utils.stat.exists

- name: Build amazon-efs-utils
  ansible.builtin.shell: 
    cmd: |
      ./build-deb.sh
      apt-get -y install ./build/amazon-efs-utils*deb
    chdir: /home/ubuntu/efs-utils
  become: yes
  when: not check_efs_utils.stat.exists

#- name: Check if mount directory is present
#  ansible.builtin.shell: 
#    cmd: |
#      timeout 3 stat {{ app_install_root }}/{{ app_repo_name }}/{{ aws_efs_ec2_mount_point }}/
#      echo $?
#  #stat:
#  #  path: "{{ app_install_root }}/{{ app_repo_name }}/{{ aws_efs_ec2_mount_point }}/"
#  register: check_efs_mount

- name: Find the mounted NFS volume
  shell: "grep 'nfsvers=4.1,rsize=1048576,wsize=1048576,hard,timeo=612,retrans=2,noresvport' /etc/fstab | awk '{print $2}'"
  register: nfs_mount_path
  changed_when: false
  failed_when: false

- name: Creates efs mount directory
  file:
    path: "{{ app_install_root }}/{{ app_repo_name }}/{{ aws_efs_ec2_mount_point }}"
    state: directory
  when: nfs_mount_path.stdout == ""

- name: Mount efs volume
  ansible.posix.mount:
    src: "{{ efs_url }}:/{{ aws_efs_mount_target }}"
    path: "{{ app_install_root }}/{{ app_repo_name }}/{{ aws_efs_ec2_mount_point }}"
    opts: "nfsvers=4.1,rsize=1048576,wsize=1048576,hard,timeo=612,retrans=2,noresvport"
    fstype: nfs4
    state: mounted
    boot: false
  when: nfs_mount_path.stdout == "" and not check_efs_utils.stat.exists 
