resource "local_file" "tf-dotenv" {
  filename = format("%s/%s", abspath(path.root), "tf.env")
  content  = <<-EOT
#### EC2 values
AWS_INSTANCE_URL="${aws_instance_url_string}"
#### EFS
HOST_DIR="${host_dir_string}"
TARGET_DIR="${target_dir_string}"
EOT
}